site_name: PSI Docs
theme:
  name: "material"
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.annotate
    - content.code.copy

plugins:
  - glightbox
  - mkdocstrings
  - search
  - minify:
      minify_html: true
  - build_plantuml:
      render: 'server' # or "local" for local rendering
      bin_path: '/usr/bin/plantuml' # ignored when render: server
      server: 'http://www.plantuml.com/plantuml' # official plantuml server
      disable_ssl_certificate_validation: true # for self-signed and invalid certs
      output_format: 'svg' # or "png"
      allow_multiple_roots: false # in case your codebase contains more locations for diagrams (all ending in diagram_root)
      diagram_root: 'docs/diagrams' # should reside under docs_dir
      output_folder: 'out'
      input_folder: 'export'
      input_extensions: 'puml' # comma separated list of extensions to parse, by default every file is parsed

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - tables


nav:
  - Introduction: index.md
  - Arch:
    - arch/index.md
    - arch/discussion.md
    - arch/federation.md
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/bchwtz/